@import url(variaveis.css);

.container{
    max-width: 84.375rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--escuro);
    margin: auto;
	width: min(100%, 800px);
    height: 100%;
    padding: 2rem;
    border-radius: .5rem;
    flex-direction: column;
    gap: 2rem;
}
main h1{
    color: white;
    font-size: 5rem;
    font-family: var(--fonte-header);
}

.form_group{
    color: white;
    display: flex;
}

.form_group label{
    font-size: 1.5rem;
    
}
