@import url(./variaveis.css);

* {
	padding: 0;
	margin: 0;
	font-family: 'Figtree', sans-serif;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
}

section.row {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
}

/*------------------header------------------*/

header.header {
	background-color: var(--escuro);
	color: var(--claro);
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 3 !important;
	width: 100vw;
	height: 7rem;
}

h1, h2, h3, h4, h5 {
	font-weight: 600;
}

header ul {
	display: flex;
	list-style: none;
	align-items: center;
}

header h2 {
	font-size: 1.55rem;
}

header ul li {
	display: flex;
	margin-left: 1rem;
	font-size: 0.9rem;
}

header ul li:hover {
	opacity: 0.7;
	transition: 0.3s;
}

img.header__logo {
	width: 12rem;
}

img.header__icon {
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.15rem;
}

/*------------------menu------------------*/

aside.menu {
	background-color: var(--escuro-secundario);
	z-index: 2;
	max-width: 25vw;
	height: 100vh;
	padding: 1rem;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu__album {
	justify-self: flex-start;
	margin-bottom: 3rem;
}

.menu__album span{
	color: white;
	text-align: center;
	font-family: 'Figtree', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}
.menu__album__pics{
	gap: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu__album__pics__group{
	height: min(calc(100% - 2rem), 15rem) ;
	width: min(calc(100% - 2rem), 15rem) ;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.menu__album__pics__group img{
	object-position: center;
	object-fit: cover;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.menu__album__pics__group span{
	color: white;
	text-align: center;
	font-family: 'Figtree', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}

/*------------------main------------------*/

main.main {
	background: rgb(8,0,16);
	background: linear-gradient(0deg, rgba(8,0,16,1) 0%, rgba(28,0,52,1) 100%);
	background: url('../imagens/pattern-bg-2.png');
	background-repeat: repeat;
	background-size: 30vw;
	width: 73vw;
	height: fit-content;
	margin-left: 25vw;
	padding-top: 3%;
	display: flex;
	flex-direction: column;

	position: relative;
}

main.main h1 {
	font-size: 3.75rem;
	margin-bottom: 1rem;
}

main * {
	color: var(--claro);
}

section.song-feed {
	padding: 3.15rem;
}

main hr {
	opacity: 0.1;
}

/*------------------player------------------*/

section.player {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	padding: 1rem;
	background-color: var(--escuro);
	border-radius: 0.5rem;
	border: 1px solid var(--claro-secundario-leve);
	opacity: 0.98;
	width: fit-content;
	max-width: 20rem;
	height: fit-content;
}

section.player__song-info {
	display: flex;
	justify-content: space-between;
	gap:1rem
}

div.player__song-text-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.player__song-name{
	font-size: 1.5rem;
}

.player__song-author {
	opacity: 0.5;
	font-size: 0.95rem;
}

img.player__button {
	width: 1.5rem;
}

img.player__button:hover {
	opacity: 0.9;
	transition: 0.2s;
}

img.player__song-img{
	width: 5rem;
	height: 5rem;
	border-radius: 0.25rem;
}

section.player__buttons-row{
	margin: 0.5rem;
	display: flex;
	justify-content: space-evenly;
}

button.player__yt-button {
	display: flex;
	border-radius: 0.4rem;
	border: none;
	padding: 0rem 0.2rem;
	align-items: center;
	gap: 0.2rem;
	margin: 0.5rem;
	align-self: flex-end;
}

button.player__yt-button p {
	color: var(--escuro);
	font-weight: 900;
	font-size: 0.99rem;
	margin-right: 0.2rem;
}

img.player__yt-icon {
	width: 1.5rem;
}

.player hr {
	margin-block: 1rem;
	opacity: 0.1;
}

section.player__song-current-time {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

section.player__song-current-time p {
	font-size: 0.9rem;
}

input#player__song-current-time-i {
	width: 7rem;
	height: 6px;
	border-radius: 4px;
	appearance: none;
}

input#player__song-current-time-i::-webkit-slider-thumb {
	-webkit-appearance: none; 
	appearance: none;
	width: 5px; 
	height: 5px;
	border-radius: 50%; 
	background: var(--destaque);
	cursor: pointer;
}

input#player__song-current-time-i::-webkit-progress-inner-element {
	background-color: var(--destaque);
}

input[type='range'] {
	overflow: hidden;
	width: 80px;
	-webkit-appearance: none;
	background-color: var(--claro);
}
  
input[type='range']::-webkit-slider-runnable-track {
	height: 10px;
	-webkit-appearance: none;
	color: var(--destaque);
	margin-top: -1px;
}
  
input[type='range']::-webkit-slider-thumb {
	width: 10px;
	-webkit-appearance: none;
	height: 10px;
	cursor: ew-resize;
	background: #434343;
	box-shadow: -80px 0 0 80px var(--destaque);
}


/*------------------card------------------*/

section.song-feed h1 {
	margin-top: 4rem;
}

section.song-feed .row{ 
	margin-bottom: 4rem;
}

img.card__img {
	width: 8.25rem;
	height: 8.25rem;
	margin-right: 1rem;
}

div.song-card {
	display: flex;
	padding: 1rem;
	height: 10rem;
	width: 23rem;
	background-color: var(--escuro-secundario-leve);
	border-radius: 0.25rem;
}

div.song-card:hover {
	outline: 1px solid var(--claro-secundario-leve);
}

section.song-feed section.row {
	display: flex;
	gap: 1rem;
}

span.card__song-info {
	width: fit-content;
}

p.card__song-name {
	font-weight: 700;
	font-size: 1.5rem;
}

p.card__song-author {
	font-size: 0.95rem;
	opacity: 0.7;
}

/*------------------footer------------------*/

footer.footer {
	box-sizing: border-box;
	background-color: var(--escuro);
	min-width: 100%;
	min-height: 15vh;
	align-self: flex-end;
	padding-top: 2rem;
	padding-inline: 5rem;
	margin-top: 7rem;
	border-radius: 1rem 1rem 0 0;
}

footer .column div {
	margin-bottom: 5rem;
}

section.footer__row {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

footer p.footer__content {
	font-size: 1rem;
	margin-top: 0.25rem;
}

footer p.footer__content:hover {
	opacity: 0.7;
}

span.footer__icon-logo-wrapper {
	display: flex;
	align-items: center;
	display: inline-block;
}

.footer__text-logo {
	text-decoration: none;
	font-style: normal;
	font-family: var(--fonte-logo);
}

img.footer__icon-logo {
	width: 6rem;
}

img.footer__partners-img {
	width: 5rem;
	height: 5rem;
}

img.footer__partners-img:nth-child(1){
	width: 6rem;
	height: 6rem;
}

.footer div.column {
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 30vh;
}

section.footer__partners {
	display: flex;
	flex-direction: column;
}

section.footer__partners-row {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
}

img.partners-img-large {
	width: fit-content;
}

span.desc {
	opacity: 0.3;
	font-size: 0.75rem;
	margin-bottom: 1rem;
}