@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
	--destaque: #7500DC;
	--destaque-leve: #8217DF;

	--escuro: #0C0C0C;
	--escuro-secundario: #0e0e0e;
	--escuro-secundario-leve: #0e0e0ef9;

	--claro: #FAFAFA;
	--claro-secundario: #F5F5F5;
	--claro-secundario-leve: #f5f5f530;

	--silver: #888888; 
	--gold: #E9B839;
	--master: #7500DC;

	--fonte-header: 'Figtree', sans-serif;
	--fonte-logo: 'Secular One', sans-serif;
}