@import url(../variaveis.css);

/*------------------header------------------*/

nav.header {
	background-color: var(--escuro);
	color: var(--claro);
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
}

li.nav-item {
	display: flex;
	align-items: center;
	margin-inline: 1rem;
}

span.header__toggler-icon {
	filter: invert(1);
}

ul.header__ul {
	display: flex;
	gap: 3rem;
	width: 100%;
}

header.header {
	background-color: var(--escuro);
	color: var(--claro);
	display: flex;
	justify-content: center;
	gap: 10vw;
	align-items: center;
	position: fixed;
	z-index: 3 !important;
	width: 100vw;
	height: 7rem;
}

h1, h2, h3, h4, h5 {
	font-weight: 600;
}

header ul {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
}

header h2 {
	font-size: 1.55rem;
	margin: 0;
}

header ul li {
	display: flex;
	margin-left: 1rem;
	font-size: 0.9rem;
}

header ul li:hover {
	opacity: 0.7;
	transition: 0.3s;
}

img.header__logo {
	width: 12rem;
}

img.header__icon {
	width: 2.2rem;
	height: 2.2rem;
	margin-right: 0.15rem;
}

li#header__search{
	align-self: flex-end;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-bottom: 6px;
}

input#header__input {
	width: 20rem;
}

button.btn-search {
	border: solid 2px var(--destaque);
	color: var(--destaque);
}

button.btn-search:hover {
	border: solid 2px var(--destaque);
	background-color: var(--destaque);
	color: var(--claro);
	transition: 0.2s;
}